.drawer {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100vw;
  background: var(--forecast-background);
  color: var(--forecast-text-color);
  position: fixed;
  left: 0;
  top: 0;
}

.dragDrawer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40px;
  background: var(--forecast-background);
}

.dragDrawer a img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - calc(24px + 1vh) * 2);
  padding: calc(24px + 1vh) calc(24px + 8vw);
}
