.container {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  padding-left: 24px;
}

.title {
  padding-left: 24px;
  padding-top: calc(24px + 3vw);
  padding-bottom: calc(24px + 3vw);
  font-size: calc(24px + 1.5vw);
}
